.input-group{
  position: relative;
  width: 250px;
}
.input-group input {
  width: 100%;
  height: 60px;
  padding: 10px;
  border: 1px solid #aeaeae;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1em;
}

.input-group span {
  position: absolute;
  top: 30%;
    left: 5px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: #aeaeae;
  text-transform: uppercase;
  transition: 0.5s;
}
.input-group input:valid ~ span,
.input-group input:focus ~ span {
  color: #3682fa;
  top: -10px;
  left: 10px;
  font-size: 16px;
  background: #0c0c0c;
}
